h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1, p {
    text-align: center;
}
footer a {
    margin: 0 10px;
    color:green;

}
body {
    background: #f8e8a6;;
}



footer {
    text-align: center;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;

}